* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    color: #000;
    line-height: 1;
    font-family: "Montserrat";
    font-size: 1.125rem;
    font-weight: 600;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Montserrat";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

[class*=-ibg] {
    position: relative;
}

[class*=-ibg] img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

[class*=__container] {
    max-width: 101.875rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(129, 125, 125);
}

.page {
    width: 50rem;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    padding: 0.9375rem;
}

.page__container {
    max-width: 62.5rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.map__header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    height: 22.5rem;
    padding: 1.25rem 2.5rem;
    font-family: "Dancing Script", cursive;
    background-image: url("https://cdn.pixabay.com/photo/2016/04/14/05/00/european-union-1328256_1280.png");
    background-size: cover;
    background-position: center;
}

h1 {
    margin-bottom: 1.875rem;
    color: #fff;
    font-size: 3.75rem;
}

@media (max-width: 655px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 475px) {
    h1 {
        font-size: 1.875rem;
    }
}

@media (max-width: 385px) {
    h1 {
        font-size: 1.4375rem;
    }
}

.search {
    padding: 0.625rem 1.25rem;
    margin-bottom: 2.5rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.85);
}

ul {
    padding-bottom: 1.875rem;
    font-size: 1.4375rem;
}

li {
    padding: 0.5rem 1.875rem;
    border-bottom: 1px solid rgb(226, 226, 226);
    display: none;
    margin-top: 0.9375rem;
    transition: all 0.3s ease 0s;
}

li:not(:last-child) {
    margin-bottom: 1.25rem;
}

li:hover {
    text-decoration: underline;
}

.wrapper1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(312deg, rgb(187, 187, 23) 20%, #094d7e 55%);
}

.pol {
    background-image: linear-gradient(312deg, red 20%, rgb(204, 194, 194) 55%);
}

.ger {
    background-image: linear-gradient(312deg, yellow 15%, red 60%, rgb(51, 40, 40) 20%);
}

.fra {
    background-image: linear-gradient(312deg, red 20%, rgb(13, 148, 226) 55%);
}

.ita {
    background-image: linear-gradient(312deg, red 20%, green 65%);
}

.aus {
    background-image: linear-gradient(312deg, red 20%, rgb(204, 194, 194) 55%);
}

.bel {
    background-image: linear-gradient(312deg, red, yellow 20%, black 75%);
}

.ire {
    background-image: linear-gradient(312deg, rgb(225, 138, 17), white 20%, green 75%);
}

.arrow-ukr {
    color: yellow;
    border: 2px solid yellow;
}

.arrow-pol {
    color: red;
    border: 2px solid red;
}

.arrow-ger {
    color: red;
    border: 2px solid yellow;
    background-color: black;
}

.arrow-fra {
    color: white;
    border: 2px solid red;
    background-color: blue;
}

.arrow-ita {
    color: red;
    border: 2px solid white;
    background-color: rgb(71, 249, 71);
}

.arrow-aus {
    color: white;
    border: 2px solid white;
    background-color: red;
}

.arrow-ire {
    color: white;
    border: 2px solid rgb(255, 149, 0);
    background-color: green;
}

.arrow-bel {
    color: white;
    border: 2px solid rgb(255, 149, 0);
    background-color: green;
}

.arrow-game1 {
    color: white;
    border: 2px solid white;
    background-color: rgb(81, 81, 244);
}

.arrow-game2 {
    color: black;
    border: 2px solid black;
    background-color: rgb(240, 105, 141);
}

.page__country {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.info {
    text-align: center;
}

@media (min-width: 101.875em) {
    .info {
        font-size: 2.5rem;
    }
}

@media (min-width: 20em) and (max-width: 101.875em) {
    .info {
        font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 81.875);
    }
}

@media (max-width: 20em) {
    .info {
        font-size: 1.875rem;
    }
}

.info h1 {
    margin-top: -10.3125rem;
    margin-bottom: 0.625rem;
}

@media (min-width: 101.875em) {
    .info h1 {
        font-size: 3.75rem;
    }
}

@media (min-width: 20em) and (max-width: 101.875em) {
    .info h1 {
        font-size: calc(2.5rem + 1.25 * (100vw - 20rem) / 81.875);
    }
}

@media (max-width: 20em) {
    .info h1 {
        font-size: 2.5rem;
    }
}

.arrow {
    position: absolute;
    top: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.3125rem;
    transition: all 0.3s ease 0s;
}

@media (min-width: 101.875em) {
    .arrow {
        left: 12.5rem;
    }
}

@media (min-width: 20em) and (max-width: 101.875em) {
    .arrow {
        left: calc(1.25rem + 11.25 * (100vw - 20rem) / 81.875);
    }
}

@media (max-width: 20em) {
    .arrow {
        left: 1.25rem;
    }
}

.arrow:hover {
    transform: scale(1.2);
}

.country__image {
    position: relative;
}

.country__image img {
    position: absolute;
    top: -6.25rem;
    left: 15.625rem;
    width: 18.75rem;
    cursor: pointer;
}

.ukraine__image img {
    transform: rotate(180deg);
}

.belgium-flag img {
    width: 30%;
    transform: translate(15%, 20%);
}

.shake-animaton {
    animation: shake 1s 1;
}

@keyframes shake {
    0% {
        left: 12.5rem;
    }

    10% {
        left: 9.375rem;
    }

    20% {
        left: 12.5rem;
    }

    30% {
        left: 15.625rem;
    }

    40% {
        left: 18.75rem;
    }

    50% {
        left: 15.625rem;
    }

    60% {
        left: 12.5rem;
    }

    70% {
        left: 9.375rem;
    }

    80% {
        left: 12.5rem;
    }

    90% {
        left: 15.625rem;
    }

    100% {
        left: 18.75rem;
    }
}

.modal-shadow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37.5rem;
    height: 18.75rem;
    padding: 1.875rem 3.75rem;
    border-radius: 0.9375rem;
    background-color: rgb(245, 245, 245);
}

@media (max-width: 640px) {
    .modal {
        width: 25rem;
        padding: 0.625rem;
    }
}

@media (max-width: 440px) {
    .modal {
        width: 18.75rem;
    }
}

.modal h3 {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
}

.modal p {
    margin-bottom: 0.625rem;
    margin-left: 1.25rem;
    font-size: 1.25rem;
}

@media (max-width: 640px) {
    .modal p {
        margin-left: 0.625rem;
        font-size: 0.875rem;
    }
}

.close {
    display: inline-block;
    margin: 2.5rem auto 0;
    width: 7.5rem;
    border-radius: 0.9375rem;
    background-color: #094d7e;
    color: yellow;
    transition: background-color 0.3s;
}

@media (max-width: 640px) {
    .close {
        margin-top: 1.25rem;
    }
}

.close:hover {
    background-color: yellow;
    color: #094d7e;
}

.close-pol {
    background-color: red;
    color: rgb(199, 197, 197);
    transition: background-color 0.3s;
}

.close-pol:hover {
    background-color: rgb(199, 197, 197);
    color: red;
}

.close-ger {
    background-color: black;
    color: yellow;
    transition: background-color 0.3s;
}

.close-ger:hover {
    background-color: yellow;
    color: black;
}

.close-ita {
    background-color: green;
    color: red;
    transition: background-color 0.3s;
}

.close-ita:hover {
    background-color: red;
    color: black;
}

.close-aus {
    background-color: red;
    color: white;
    transition: background-color 0.3s;
}

.close-aus:hover {
    background-color: rgb(144, 142, 142);
    color: red;
}

.close-bel {
    background-color: yellow;
    color: red;
    transition: background-color 0.3s;
}

.close-bel:hover {
    background-color: red;
    color: yellow;
}

.close-ire {
    background-color: green;
    color: white;
    transition: background-color 0.3s;
}

.close-ire:hover {
    background-color: rgb(190, 186, 186);
    color: green;
}

.modal-animation {
    animation: show-modal 0.5s;
}

@keyframes show-modal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.country-name {
    display: inline-block;
    color: #094d7e;
    transition: all 0.3s ease 0s;
}

.country-name:hover {
    color: rgb(0, 0, 0);
}

.name-pol {
    color: red;
}

.name-bel {
    color: red;
}

.name-ger {
    color: red;
}

.name-fra {
    color: red;
}

.name-ita {
    color: green;
}

.name-ire {
    color: green;
}

.name-aus {
    color: red;
}

.emblem {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
}

.emblem img {
    width: 9.375rem;
}

@media (max-width: 440px) {
    .emblem img {
        width: 5rem;
    }
}

.inform {
    display: flex;
    align-items: center;
}

.info__link {
    margin-right: 1.875rem;
}

@media (max-width: 640px) {
    .info__link {
        margin-right: 0.625rem;
    }
}

.info__link img {
    width: 5rem;
    border-radius: 50%;
    border: 1px solid black;
    transition: all 0.3s ease 0s;
}

.info__link img:hover {
    transform: scale(0.8);
    border: 3px solid black;
    box-shadow: 0 0 10px black;
}

.info__buttons {
    opacity: 0;
    visibility: hidden;
    display: flex;
    gap: 3.125rem;
}

@media (max-width: 540px) {
    .info__buttons {
        gap: 0.9375rem;
    }
}

@media (max-width: 350px) {
    .info__buttons {
        gap: 0.625rem;
    }
}

.info__button {
    padding: 0.625rem;
    font-size: 1.875rem;
    border: 1px solid black;
    background-color: rgb(212, 203, 203);
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    box-shadow: 10px 0 15px black;
}

@media (max-width: 540px) {
    .info__button {
        font-size: 1.5625rem;
    }
}

@media (max-width: 420px) {
    .info__button {
        font-size: 0.9375rem;
    }
}

.info__button:hover, .info__button:focus {
    color: white;
    background-color: rgb(77, 76, 76);
}

.show {
    visibility: visible;
    animation-name: show;
    animation-duration: 1.5s;
    opacity: 1;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.4;
    }

    75% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.info__popup {
    height: 18.75rem;
    width: 43.75rem;
    border: 1px solid black;
    border-radius: 0.9375rem;
    box-shadow: 0 0 30px white;
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.85;
}

@media (max-width: 750px) {
    .info__popup {
        width: 31.25rem;
    }
}

@media (max-width: 560px) {
    .info__popup {
        width: 18.75rem;
        height: 12.5rem;
    }
}

@media (max-width: 360px) {
    .info__popup {
        width: 15.625rem;
    }
}

.popup__active {
    animation-name: popup;
    animation-duration: 0.5s;
    top: 65%;
}

@keyframes popup {
    10% {
        top: -40%;
    }

    20% {
        top: -30%;
    }

    30% {
        top: -20%;
    }

    40% {
        top: -10%;
    }

    50% {
        top: 0%;
    }

    60% {
        top: 10%;
    }

    70% {
        top: 20%;
    }

    80% {
        top: 30%;
    }

    90% {
        top: 40%;
    }

    100% {
        top: 65%;
    }
}

.tab {
    display: none;
}

.tab.is-active {
    display: block;
}

.tabs__nav {
    display: flex;
    padding: 1.25rem;
    justify-content: space-between;
    font-size: 1.5625rem;
    color: black;
}

@media (max-width: 560px) {
    .tabs__nav {
        font-size: 0.875rem;
        padding: 0.3125rem;
    }
}

.tabs-nav__item {
    border: 1px solid black;
    border-radius: 1.25rem;
    padding: 0.625rem;
    background-color: white;
    transition: all 1s ease 0s;
}

.tabs-nav__item:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 0 15px;
}

.tabs-nav__item:focus {
    background-color: black;
    color: white;
}

.tabs__content {
    padding: 1.25rem 1.25rem;
    font-size: 1.5625rem;
    line-height: 1.5;
}

@media (max-width: 560px) {
    .tabs__content {
        font-size: 0.9375rem;
    }
}

.wrapper2 {
    height: 100vh;
    display: flex;
    background: #060AB2;
}

.game {
    width: 40rem;
    height: 25rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    perspective: 62.5rem;
    padding: 0 1.25rem 0 3.125rem;
}

@media (max-width: 500px) {
    .game {
        grid-template-columns: repeat(3, 1fr);
    }
}

.game__card {
    margin: 0.3125rem;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.game__card :active {
    transform: scale(0.9);
}

.game__card .face,
.game__card .back {
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    position: absolute;
    border-radius: 0.625rem;
    background: #57adf3;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.game__card .face {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.game-over {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 2;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37.5rem;
    height: 18.75rem;
    padding: 1.875rem 3.75rem;
    border-radius: 0.9375rem;
    background-color: rgb(176, 173, 173);
    box-shadow: 20px 20px 30px rgb(208, 208, 208);
}

.popup p {
    font-size: 3.75rem;
    text-align: center;
    margin-bottom: 6.25rem;
}

@media (max-width: 640px) {
    .popup {
        width: 25rem;
        padding: 0.625rem;
    }
}

@media (max-width: 440px) {
    .popup {
        width: 18.75rem;
    }
}

.game__buttons {
    display: flex;
    justify-content: space-around;
    font-size: 1.875rem;
}

.play,
.exit {
    padding: 0.9375rem;
    transition: all 0.3s ease 0s;
}

.play:hover,
.exit:hover {
    border: 2px solid red;
    border-radius: 50%;
    color: red;
}

.game-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: linear-gradient(315deg, rgb(95, 95, 233), rgb(239, 96, 96), rgb(228, 228, 112));
}

.game-2__wrapper {
    width: 15.625rem;
    height: 21.875rem;
    background: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 30px rgb(90, 88, 88);
    padding: 1.25rem;
}

.game-2__question {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    letter-spacing: 1.5px;
}

.answer-item {
    display: block;
    font-size: 1.25rem;
    padding: 0;
    margin-top: -1.25rem;
}

.answer-item:hover {
    text-decoration: none;
}

.game-2__buttons {
    margin-top: 0.625rem;
    display: flex;
    justify-content: space-between;
}

.next,
.restart {
    padding: 0.625rem 1.875rem;
    border: 2px solid black;
    box-shadow: 2px 1px 3px rgb(124, 123, 123);
    border-radius: 0.625rem;
    transition: all 0.4s ease 0s;
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
}

.next:hover,
.restart:hover {
    background-color: red;
    color: white;
}

.next:active,
.restart:active {
    transform: scale(0.9);
}

.restart {
    display: none;
}

.game-2__results {
    font-size: 5rem;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: none;
}

.game-2__results {
    display: none;
}

.game-2__text {
    display: none;
    font-size: 1.5625rem;
    margin-bottom: 1.875rem;
    text-align: center;
}

.snow {
    position: absolute;
    top: -3.125rem;
    animation: snow 5s;
    color: rgb(255, 0, 0);
    color: rgb(247, 203, 203);
}

@keyframes snow {
    to {
        transform: translateY(110vh);
    }
}